
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid rgb(53, 11, 207); */
}

body {
    background: rgb(30, 30, 30);
    overflow: hidden;
    overflow-y: scroll;
    /* border: 5px solid yellow; */
    color: white;
}